.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 35%;
  height: 35%;

  min-height: 200px;
  min-width: 200px;

  margin: auto;
  display: block;
  vertical-align: middle;
}
