<div class="container mt-4">
  <h4><span class="badge badge-danger text-blink">LIVE!</span> streams right now:</h4>

  <hr>

  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-3">

      <div class="card" routerLink="/v/maniacs">
        <img alt="Crypto Maniacs @ ETHCapeTown" class="card-img-top" src="assets/dashboard/maniacs.jpg">
        <div class="card-body">
          <h5 class="card-title">Crypto Maniacs @ ETHCapeTown</h5>
          <p class="card-text">
            Live hacking on the ETH Cape Town hackathon!
          </p>
        </div>
      </div>

    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">

      <div class="card" routerLink="/v/0x00F0F570Eb2F7f332FB7902AeEF5BE6aA1a1A3B4">
        <img class="card-img-top" src="assets/dashboard/2c.jpg">
        <div class="card-body">
          <h5 class="card-title">My wedding ceremony</h5>
          <p class="card-text">
            Our lovely wedding ceremony.
          </p>
        </div>
      </div>

    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">

      <div class="card" routerLink="/v/1234">
        <img class="card-img-top" src="assets/dashboard/3c.jpg">
        <div class="card-body">
          <h5 class="card-title">Music Concert - Rammstein</h5>
          <p class="card-text">
            Open Air music concert with Rammstein.
          </p>
        </div>
      </div>

    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">

      <div class="card" routerLink="/v/1234">
        <img class="card-img-top" src="assets/dashboard/4c.jpg">
        <div class="card-body">
          <h5 class="card-title">Music Concert - Bob Marley</h5>
          <p class="card-text">
            Open Air music concert with Bob Marley.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>
