<div class="container">
  <div class="row">
    <div class="col">
      <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <hr>
        <router-outlet></router-outlet>

        <!-- <input type="text" id="input_ToDo" [(ngModel)]='state' placeholder="To Do"><br> -->
        <form class="form-inline text-center">
          <!-- <div class="form-group mb-2">
            <label for="staticEmail2" class="sr-only">Email</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
          </div> -->
          <span>Add new todo:</span>
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputTodo" class="sr-only">Text for todo</label>
            <input type="text" #todoText class="form-control" id="inputTodo" placeholder="todo text">
          </div>
          <button type="submit" class="btn btn-success mb-2" [ngClass]="{disabled: inactiveButton}" (click)="addToDo(todoText)">Add
            to list</button>
        </form>

        <!-- <textarea data-ng-model="myModel"></textarea>    -->
        <hr>
        <div class="alert alert-success" role="alert" *ngIf="successMessage">
          {{successMessage}}
        </div>
        <div class="alert alert-secondary" role="alert" *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <div class="alert alert-info" role="alert" *ngIf="infoMessage">
          {{infoMessage}}
        </div>
        <hr>
        <!-- <button class="btn btn-primary" (click)="getToDoStatuses()">GET TODOS</button> -->
      </div>
    </div>

  </div>
</div>

<div class="container">
  <h2 class="text-center">Todo list:</h2>
  <div class="row">
    <div class="col-xs-4">
      <div class="todo-column">
        <span class="badge badge-secondary">TO DO</span>
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger" *ngIf="toDos && toDos.toDo.length < 1">NONE</li>
          <li class="list-group-item" *ngFor="let todo of toDos.toDo">{{todo}}
            <div class="buttons-group">
              <button class="btn btn-primary btn-sm btn-warning" (click)="moveToInProgress(todo)">Change
                Status</button>
              <button class="btn btn-primary btn-sm btn-danger" (click)="removeToDo(todo, 'todo')">Delete</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="todo-column">
        <span class="badge badge-secondary">IN PROGRESS</span>
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger" *ngIf="toDos && toDos.inProgress.length < 1">NONE</li>
          <li class="list-group-item" *ngFor="let todo of toDos.inProgress">{{todo}}
            <div class="buttons-group">
              <button class="btn btn-primary btn-sm btn-warning" (click)="moveToDone(todo)">Change Status</button>
              <button class="btn btn-primary btn-sm btn-danger" (click)="removeToDo(todo, 'progress')">Delete</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-4">

      <div class="todo-column">
        <span class="badge badge-secondary">DONE</span>
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger" *ngIf="toDos && toDos.done.length < 1">NONE</li>
          <li class="list-group-item" *ngFor="let todo of toDos.done">{{todo}}
            <div class="buttons-group">
              <button class="btn btn-primary btn-sm btn-danger" (click)="removeToDo(todo, 'done')">Delete</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>