<div class="container mt-4">
    <button class="btn btn-info float-right">RELAY</button>
    <h4><span class="badge badge-danger text-blink">LIVE!</span>&nbsp;<span [innerHTML]="title"></span></h4>
    <hr>

    <app-loading-spinner [hidden]="receiving && !loading"></app-loading-spinner>
    <video #videoPlayer [hidden]="!receiving && loading" controls height="420" width="100%">
        Your browser does not support the video tag.
    </video>
    <div [hidden]="!receiving && loading || (this.id === 'maniacs')" class="text-center">
        <hr>
        <h4 style="white-space: normal;">ENS: {{username}}</h4>
        <h4>Price: {{price}}$ / GB</h4>
        <h4>Received: {{ (bytesReceived / 1024 / 1024).toFixed(2) }} MB</h4>
        <h4>Costs: {{ (price / (1024 * 1024 * 1024) *  bytesReceived).toFixed(8) }} $</h4>
    </div>
</div>
